.container{
  display:grid;
  grid-template-columns:200px 500px;
  gap:80px;
}

.inworks textarea{
  width:200px;
  height:15px;
}
li textarea:hover{
  width:500px;
  height:30px;
  border:2px solid #c10087;
}
.todos input:hover{
  width:500px;
  height:30px;
  border:2px solid #c10087;
}